@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="container-fluid" style="height:auto; margin-top:40px;margin-bottom:20px;">
        <h1 class="Enq" style="text-align:center;font-size:40px; color:#ec8b00;">
            Company's Overview<br />
        </h1>

        <div class=" col-lg-12">
            <h1 class="loanparagraph" style=" color: #943b7e; text-align:center; margin-left:60px;">
                Santander UK is one of the UK's leading personal financial services companies and one of the largest providers of mortgages and savings in the UK. The bank has circa 20,000 employees, 14 million active customers, with almost 1,010 branches and 50 corporate business centres. The bank, with its head office in the London Borough of Camden was established on
                11 January 2010 when Abbey National plc was combined with the savings business and branches of Bradford & Bingley plc, and renamed Santander UK plc.
            </h1>
        </div>
    </div>

</div>



