
@{
    ViewBag.Title = "Plans";
}
<style>
    .card {
        padding: 20px;
        margin: 40px;
        color: #943b7e;
    }
    .card-header {
        font-size: 24px;
        color: #ec8b00;
    }
    .card-title{
        font-size:20px;
        color:#ec8b00;
    }
    .card-text{
        font-size:18px;
        color:#943b7e;
    }
    .btn{
        background-color:#ec8b00;
        color:#fff;
    }
</style>

<h2 style="color:#ec8b00;font-size:45px;margin-top:80px;text-align:center;"> Mortgage Loan Plans </h2>
@*<div class="roundcard" style=" height:auto; width:1200px;padding:30px; border-radius:10px;margin-bottom:20px; margin-top:10px; box-shadow: 0px 7px 40px #efefef;">*@
    <div class="card" style="background:#f5f5f5;width:94%;height:auto;">
        <div class="card-header">
            Scale solutions as your business grows
        </div>
        <div class="card-body">
            <h5 class="card-title">Financial Institutions</h5>
            <p class="card-text">A mortgage loan is one in which you secure funds by pledging your property. The interest rates on mortgage loans range from 8.15% to 11.80% p.a. Usually, the amount of funding you can avail will be up to 60% of the registered value of the property. Some banks also offer mortgage loans up to Rs.10 crore. 
            The repayment tenure for mortgage loans can be up to 15 years.</p>
            <a href="../LoanForms/Create" class="btn "><i class="fa fa-snowflake-o" aria-hidden="true"></i> Apply </a>
        </div>
    </div>
    <div class="card" style="background:#f5f5f5;width:94%;height:auto;">
        <div class="card-header">
            Serve more borrowers, more effectively
        </div>
        <div class="card-body">
            <h5 class="card-title">Mortgage Bankers</h5>
            <p class="card-text">A mortgage loan is one in which you secure funds by pledging your property. The interest rates on mortgage loans range from 8.15% to 11.80% p.a. Usually, the amount of funding you can avail will be up to 60% of the registered value of the property. Some banks also offer mortgage loans up to Rs.10 crore. 
            The repayment tenure for mortgage loans can be up to 15 years.</p>
            <a href="../LoanForms/Create" class="btn "><i class="fa fa-snowflake-o" aria-hidden="true"></i> Apply </a>
        </div>
    </div>
    <div class="card" style="background:#f5f5f5;width:94%;height:auto;">
        <div class="card-header">
            Track leads and conversions
        </div>
        <div class="card-body">
            <h5 class="card-title">Mortgage Brokers</h5>
            <p class="card-text">A mortgage loan is one in which you secure funds by pledging your property. The interest rates on mortgage loans range from 8.15% to 11.80% p.a. Usually, the amount of funding you can avail will be up to 60% of the registered value of the property. Some banks also offer mortgage loans up to Rs.10 crore. 
            The repayment tenure for mortgage loans can be up to 15 years.</p>
            <a href="../LoanForms/Create" class="btn "><i class="fa fa-snowflake-o" aria-hidden="true"></i>  Apply </a>
        </div>
    </div>
@*</div>*@
