
<div class="sidebar-container">
    <div class="sidebar-logo">
        Project Name
    </div>
    <ul class="sidebar-navigation">
        <li></li>
        <li>
            <a href="@Url.Action("Index", "LoanForms")">
                <i class="fa fa-money" aria-hidden="true"></i> Loan Requests
            </a>
        </li>
        <li></li>
        <li>
            <a href="@Url.Action("Index", "Enquiry")">
                <i class="fa fa-comments" aria-hidden="true"></i>  Enquiry
            </a>
        </li>
        <li></li>
        @*<li>
            <a href="#">
                <i class="fa fa-users" aria-hidden="true"></i> Inspector
            </a>
        </li>
        <li></li>*@
        <li>
            <a href="@Url.Action("AfterInspection", "AfterInspection")">
                <i class="fa fa-cog" aria-hidden="true"></i> After Inspection
            </a>
        </li>
        <li></li>
        @*<li>
            <a href="@Url.Action("Create", "StatusTracks")">
                <i class="fa fa-cog" aria-hidden="true"></i> Status
            </a>
        </li>*@
        @*<li>
            <a href="#">
                <i class="fa fa-info-circle" aria-hidden="true"></i> Information
            </a>
        </li>*@
    </ul>
</div>
